In [ ]:
import pandas as pd


salesdetail_montly = pd.read_csv('/home/kushalpce20/Downloads/salesdetailmonthly_20240425_050244975.csv')

salesdetail_montly

In [ ]:
salesdetail_montly.columns

In [ ]:
salesdetail_montly.describe()

In [ ]:
salesdetail_montly.dropna(axis=1, how='all')

In [ ]:
salesdetail_montly.describe()

In [19]:
print(salesdetail_montly.columns.values)

['RegionName' 'StoreName' 'AlternateStoreCode' 'StoreGSTNumber' 'BillDate'
 'BillTime' 'BillNumber' 'CustomerCode' 'CustomerName' 'CustomerGSTNumber'
 'Quantity' 'FreeQty' 'FreeMRPValue' 'TaxDescription' 'BaseValue'
 'OtherTax' 'TNGSTAmount' 'CST' 'SGST' 'CGST' 'IGST' 'UTGST' 'Tax'
 'IsTaxInclusive' 'TaxTransactionNumber' 'HSNCode' 'Amount' 'ProductName'
 'LanguageProductName' 'BrandName' 'SupplierRefCode' 'CategoryCode'
 'Department' 'SubCategory' 'ProductCode' 'EANCode'
 'AlternateProductCodes' 'Batch' 'MRP' 'ProductLevelDisc%'
 'ProductLevelDiscAmount' 'BillLevelDiscAmount' 'BillLevelDisc%'
 'TotalDiscAmount' 'TotalDisc%' 'OtherDiscountPercentage' 'ExpiryDate'
 'SalesmanCode' 'SalesmanName' 'Classification' 'Cenvat' 'Educess'
 'Sheducess' 'ExciseDutyCode' 'Abatement' 'Reason' 'MRPTotal' 'RRPTotal'
 'UserName' 'SerialNumberUpdatedBy' 'SerialNumberUpdatedOn'
 'UnitDescription' 'OtherDiscount' 'ServiceTaxAmt' 'STCessAmount'
 'STEduCessAmount' 'Color' 'Gender' 'Size' 'BusinessSegmentName'
 'ArticleNumber' 'DivisionName' 'MarketingDivisionName'
 'QuarterSeasonName' 'PricePointName' 'ProductCategoryName' 'SportsName'
 'PatientName' 'Attribute1' 'Attribute2' 'Attribute3' 'Attribute4'
 'Attribute5' 'Class' 'SubClass' 'Surcharge' 'CessAmt' 'UnitMRP'
 'ToonLabel' 'BillSeries' 'PivotProductCode' 'DiscountBudgetName'
 'SupplierName' 'ManufacturerCode' 'MarketerCode' 'Rate' 'ActualRate'
 'OrderDate' 'OrderNumber' 'InsApprovalCode' 'CoPayerPercentage'
 'CoPayerAmount' 'CAAddress1' 'CAAddress2' 'CAAddress3' 'CACityName'
 'CAStateName' 'OfferApprovedBy' 'RateModifiedBy' 'TerminalNumber'
 'ExchangeBillDate' 'ExchangeBillNumber' 'Discount Type' 'UOMDesc'
 'UOMQty' 'ManufacturedDate' 'AdditionalCESS' 'ZoneCode' 'ZoneName'
 'BNumber' 'ProductDescription' 'CompanyEmployeeID' 'StateName' 'DiscType'
 'RefPromoCode' 'PromotionType' 'SchemeCode' 'BillLevelPromoCode'
 'PromotionName' 'SchemeGroupName' 'StoreCode' 'StoreClusterName'
 'CityName' 'Address1' 'Address2' 'Address3' 'PinCode' 'Email' 'Remarks'
 'ProductGroup' 'AlternateGroupCode' 'TransactionAttributes'
 'DeliveryType' 'IRN' 'FreeValue' 'InsuranceCompanyCode'
 'InsuranceCompanyName' 'WSDN' 'ManufacturerName' 'FixedCESS'
 'AcknowledgeDate' 'AcknowledgeNumber' 'CustomerGroupName' 'ChannelName'
 'TCS' 'AlternateCustomerCode' 'ScheduleTypeCode'
 'ScheduleTypeDescription' 'DoctorName' 'Combination' 'SubLocation'
 'SubLocationName' 'ChapterNumber' 'StockSourceStoreName'
 'StockSourceStore' 'ReferenceDocument' 'OrderReferenceNo'
 'OrderReferenceDate' 'CustomerTierName' 'CustomerTypeName' 'DivisionCode'
 'ProductGroupCode' 'AlternateProductGroupCode' 'AlternateDivisionCode'
 'Season' 'RefChannelName' 'RefChannelOrderNo' 'InvoiceNumber'
 'ShipmentNumber' 'IsBudgetedDiscount' 'PivotStoreCode'
 'New customer Type' 'ProductImage' 'AlphaBatchID' 'StoreAbbrevation'
 'OrderReference' 'BillRemarks' 'AlternateCode2' 'PurchaseUnit'
 'BulkDescription' 'ItemCost' 'CostOfSale' 'PackageInformation'
 'ProviderTaxCode' 'TaxPercentage' 'ProductFullName']

In [20]:
# how it all works lets understand
# different POS has different data so we gonna select that customer
# lets consider all 
# it's old thing dbscan, apriori, knn, kmeans, svm, decision tree
# feature analysis


# what her question was what you wanna understand, if she was data analysis, 
# firstly she would have known what there is to know
# 
# it also depends on Manufacturer type like forexample we are saleing one manufacturer,
# by taking frequency you are taking whole as a thing
# 
# one customer -> hasmany relation with different data type
# we consider as a week. on which day he will come


# we gonna make find pattern by making sliding windows
# we should be taking is frequency now 
# on top, price of product, 

# customer and it's relations
# 
# don't explain him
# why did i 


salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000