In [1]:
import pandas as pd


salesdetail_montly = pd.read_csv('salesdetailmonthly_20240425_050244975.csv')

salesdetail_montly

C:\Users\wndows\AppData\Local\Temp\ipykernel_2396\1053172180.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\wndows\AppData\Local\Temp\ipykernel_2396\1053172180.py:4: DtypeWarning: Columns (2,9,58,84,97,98,104,110,111,137,167,184,186) have mixed types. Specify dtype option on import or set low_memory=False.
  salesdetail_montly = pd.read_csv('salesdetailmonthly_20240425_050244975.csv')

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CLONIDIME 100MCG TAB 1X30
1,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CILNIMERIT 20MG TAB 1X10
2,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,12,CALCIQUICK D31K CAP 1X10
3,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,12,CALCIQUICK D31K CAP 1X10
4,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CETJOINT FORTE TAB 1X30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257890,GUJARAT,CURE PHARMACY,676,24AARFC9888M1ZC,24/04/2024,8:10PM,SR8,10500.0,AKSHAY DALAL,NaN,...,NaN,NaN,1,NaN,0,0,DROPS,NaN,12,SYSTANE ULTRA DROPS 10ML
257891,GUJARAT,J M AND K ENTERPRISES,682,24GONPP7240L1ZB,24/04/2024,10:42PM,SR6,779460.0,viral bharvad,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,18,NICOTEX 4MG TAB 1X29
257892,GUJARAT,MEDKART AN GAMDIVAD,78,24AAMCM5937B1ZI,24/04/2024,11:59AM,SR6,915043.0,NITABEN SONI,NaN,...,NaN,NaN,1,NaN,0,0,DIAPER,NaN,12,DIAPER ADULT MEDIUM
257893,GUJARAT,MEDKART A SURELIYA ESTATE,80,24AAMCM5391B1ZI,24/04/2024,11:43AM,SR10,919027.0,bharat bhai,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,TELSAR 40MG TAB 1X15
257894,GUJARAT,MEDKART A BPCL SHASHTRINAGAR,84,24AAMCM5391B1ZI,24/04/2024,7:59PM,SR7,288553.0,PRASHANT SHAH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,FEBUSTATUS 40MG TAB 1X10

In [2]:
salesdetail_montly.columns

Index(['RegionName', 'StoreName', 'AlternateStoreCode', 'StoreGSTNumber',
       'BillDate', 'BillTime', 'BillNumber', 'CustomerCode', 'CustomerName',
       'CustomerGSTNumber',
       ...
       'BillRemarks', 'AlternateCode2', 'PurchaseUnit', 'BulkDescription',
       'ItemCost', 'CostOfSale', 'PackageInformation', 'ProviderTaxCode',
       'TaxPercentage', 'ProductFullName'],
      dtype='object', length=196)

In [3]:
salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000

In [4]:
salesdetail_montly.dropna(axis=1, how='all')

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,IsBudgetedDiscount,New customer Type,StoreAbbrevation,BillRemarks,PurchaseUnit,ItemCost,CostOfSale,PackageInformation,TaxPercentage,ProductFullName
0,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CLONIDIME 100MCG TAB 1X30
1,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CILNIMERIT 20MG TAB 1X10
2,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,CAPSULE,12,CALCIQUICK D31K CAP 1X10
3,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,CAPSULE,12,CALCIQUICK D31K CAP 1X10
4,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CETJOINT FORTE TAB 1X30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257890,GUJARAT,CURE PHARMACY,676,24AARFC9888M1ZC,24/04/2024,8:10PM,SR8,10500.0,AKSHAY DALAL,NaN,...,No,EXISTING,NaN,NaN,1,0,0,DROPS,12,SYSTANE ULTRA DROPS 10ML
257891,GUJARAT,J M AND K ENTERPRISES,682,24GONPP7240L1ZB,24/04/2024,10:42PM,SR6,779460.0,viral bharvad,NaN,...,No,EXISTING,NaN,NaN,1,0,0,TABLET,18,NICOTEX 4MG TAB 1X29
257892,GUJARAT,MEDKART AN GAMDIVAD,78,24AAMCM5937B1ZI,24/04/2024,11:59AM,SR6,915043.0,NITABEN SONI,NaN,...,No,EXISTING,NaN,NaN,1,0,0,DIAPER,12,DIAPER ADULT MEDIUM
257893,GUJARAT,MEDKART A SURELIYA ESTATE,80,24AAMCM5391B1ZI,24/04/2024,11:43AM,SR10,919027.0,bharat bhai,NaN,...,No,NEW,NaN,NaN,1,0,0,TABLET,12,TELSAR 40MG TAB 1X15
257894,GUJARAT,MEDKART A BPCL SHASHTRINAGAR,84,24AAMCM5391B1ZI,24/04/2024,7:59PM,SR7,288553.0,PRASHANT SHAH,NaN,...,No,EXISTING,NaN,NaN,1,0,0,TABLET,12,FEBUSTATUS 40MG TAB 1X10

In [5]:
salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000

In [12]:
stores_data = []
for group_name, group_data in salesdetail_montly.groupby(['RegionName', 'StoreName']):
    stores_data.append(group_data)

In [14]:
customers_data = []
for store_data in stores_data:
    for group_customer, customer_data in store_data.groupby('CustomerCode'):
        customers_data.append(customer_data)

In [16]:
customers_data[0]

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
90670,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS 40MG TAB 1X10
90671,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ECOSPRIN 75MG TAB 1X14
90672,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,EMER GM 2MG TAB 1X15
90673,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,GEOFIT MEN TAB 1X10
90674,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,PANTOMERIT D TAB 1X10
90675,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DGSON 5MG TAB 1X10
90676,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,EMERTAM 0.4MG TAB 1X10
90677,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,UDP AT 5/50MG TAB 1X14
124638,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,METHYLCOMER SL 1500MCG TAB 1X10
124639,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS ASP 10/75MG TAB 1X15
124640,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,BETALOC 100MG TAB 1X10
216282,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS ASP 10/75MG TAB 1X15
216283,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,BETALOC 100MG TAB 1X10
216284,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,MOXONOL 0.3MG TAB 1X10
216285,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,SYNDOPA 110MG TAB 1X15
216286,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMISTATUS H 40/12.5MG TAB 1X10
216287,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMISTATUS 40MG TAB 1X10

In [20]:
# how it all works lets understand
# different POS has different data so we gonna select that customer
# lets consider all 
# it's old thing dbscan, apriori, knn, kmeans, svm, decision tree
# feature analysis


# what her question was what you wanna understand, if she was data analysis, 
# firstly she would have known what there is to know
# 
# it also depends on Manufacturer type like forexample we are saleing one manufacturer,
# by taking frequency you are taking whole as a thing
# 
# one customer -> hasmany relation with different data type
# we consider as a week. on which day he will come


# we gonna make find pattern by making sliding windows
# we should be taking is frequency now 
# on top, price of product, 

# customer and it's relations
# 
# don't explain him
# why did i 


salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000