In [2]:
import pandas as pd
pd.set_option('display.max_rows', 50)

salesdetail_montly = pd.read_csv('salesdetailmonthly_20240425_050244975.csv')

salesdetail_montly

C:\Users\wndows\AppData\Local\Temp\ipykernel_19804\1547539662.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\wndows\AppData\Local\Temp\ipykernel_19804\1547539662.py:4: DtypeWarning: Columns (2,9,58,84,97,98,104,110,111,137,167,184,186) have mixed types. Specify dtype option on import or set low_memory=False.
  salesdetail_montly = pd.read_csv('salesdetailmonthly_20240425_050244975.csv')

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CLONIDIME 100MCG TAB 1X30
1,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CILNIMERIT 20MG TAB 1X10
2,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,12,CALCIQUICK D31K CAP 1X10
3,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,12,CALCIQUICK D31K CAP 1X10
4,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,CETJOINT FORTE TAB 1X30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257890,GUJARAT,CURE PHARMACY,676,24AARFC9888M1ZC,24/04/2024,8:10PM,SR8,10500.0,AKSHAY DALAL,NaN,...,NaN,NaN,1,NaN,0,0,DROPS,NaN,12,SYSTANE ULTRA DROPS 10ML
257891,GUJARAT,J M AND K ENTERPRISES,682,24GONPP7240L1ZB,24/04/2024,10:42PM,SR6,779460.0,viral bharvad,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,18,NICOTEX 4MG TAB 1X29
257892,GUJARAT,MEDKART AN GAMDIVAD,78,24AAMCM5937B1ZI,24/04/2024,11:59AM,SR6,915043.0,NITABEN SONI,NaN,...,NaN,NaN,1,NaN,0,0,DIAPER,NaN,12,DIAPER ADULT MEDIUM
257893,GUJARAT,MEDKART A SURELIYA ESTATE,80,24AAMCM5391B1ZI,24/04/2024,11:43AM,SR10,919027.0,bharat bhai,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,TELSAR 40MG TAB 1X15
257894,GUJARAT,MEDKART A BPCL SHASHTRINAGAR,84,24AAMCM5391B1ZI,24/04/2024,7:59PM,SR7,288553.0,PRASHANT SHAH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,12,FEBUSTATUS 40MG TAB 1X10

In [3]:
salesdetail_montly.columns

Index(['RegionName', 'StoreName', 'AlternateStoreCode', 'StoreGSTNumber',
       'BillDate', 'BillTime', 'BillNumber', 'CustomerCode', 'CustomerName',
       'CustomerGSTNumber',
       ...
       'BillRemarks', 'AlternateCode2', 'PurchaseUnit', 'BulkDescription',
       'ItemCost', 'CostOfSale', 'PackageInformation', 'ProviderTaxCode',
       'TaxPercentage', 'ProductFullName'],
      dtype='object', length=196)

In [4]:
salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000

In [5]:
salesdetail_montly.dropna(axis=1, how='all')

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,IsBudgetedDiscount,New customer Type,StoreAbbrevation,BillRemarks,PurchaseUnit,ItemCost,CostOfSale,PackageInformation,TaxPercentage,ProductFullName
0,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CLONIDIME 100MCG TAB 1X30
1,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,9:27AM,SC1,487202.0,MINESH PANDYA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CILNIMERIT 20MG TAB 1X10
2,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,CAPSULE,12,CALCIQUICK D31K CAP 1X10
3,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,CAPSULE,12,CALCIQUICK D31K CAP 1X10
4,GUJARAT,MEDKART A STADIUM,2,24AAMCM5391B1ZI,01/04/2024,10:14AM,SC2,776.0,MEHTAB RANGWALA,NaN,...,No,EXISTING,SA,NaN,1,0,0,TABLET,12,CETJOINT FORTE TAB 1X30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257890,GUJARAT,CURE PHARMACY,676,24AARFC9888M1ZC,24/04/2024,8:10PM,SR8,10500.0,AKSHAY DALAL,NaN,...,No,EXISTING,NaN,NaN,1,0,0,DROPS,12,SYSTANE ULTRA DROPS 10ML
257891,GUJARAT,J M AND K ENTERPRISES,682,24GONPP7240L1ZB,24/04/2024,10:42PM,SR6,779460.0,viral bharvad,NaN,...,No,EXISTING,NaN,NaN,1,0,0,TABLET,18,NICOTEX 4MG TAB 1X29
257892,GUJARAT,MEDKART AN GAMDIVAD,78,24AAMCM5937B1ZI,24/04/2024,11:59AM,SR6,915043.0,NITABEN SONI,NaN,...,No,EXISTING,NaN,NaN,1,0,0,DIAPER,12,DIAPER ADULT MEDIUM
257893,GUJARAT,MEDKART A SURELIYA ESTATE,80,24AAMCM5391B1ZI,24/04/2024,11:43AM,SR10,919027.0,bharat bhai,NaN,...,No,NEW,NaN,NaN,1,0,0,TABLET,12,TELSAR 40MG TAB 1X15
257894,GUJARAT,MEDKART A BPCL SHASHTRINAGAR,84,24AAMCM5391B1ZI,24/04/2024,7:59PM,SR7,288553.0,PRASHANT SHAH,NaN,...,No,EXISTING,NaN,NaN,1,0,0,TABLET,12,FEBUSTATUS 40MG TAB 1X10

In [6]:
salesdetail_montly.describe()

,CustomerCode,Quantity,FreeQty,FreeMRPValue,BaseValue,OtherTax,TNGSTAmount,CST,SGST,CGST,...,ProductImage,AlphaBatchID,OrderReference,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,ProviderTaxCode,TaxPercentage
count,257804.000000,257895.000000,257895.0,257895.0,257895.000000,257895.0,257895.0,257895.0,257895.000000,257895.000000,...,0.0,0.0,0.0,0.0,257895.0,0.0,257895.0,257895.0,0.0,257895.000000
mean,421839.185695,2.160263,0.0,0.0,104.172366,0.0,0.0,0.0,6.019480,6.019480,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,11.823692
std,294125.257804,5.892535,0.0,0.0,214.906541,0.0,0.0,0.0,12.038401,12.038401,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,2.571055
min,3.000000,-142.000000,0.0,0.0,-32825.895000,0.0,0.0,0.0,-1969.553600,-1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,0.000000
25%,159735.000000,1.000000,0.0,0.0,31.355932,0.0,0.0,0.0,1.767900,1.767900,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
50%,374680.000000,1.000000,0.0,0.0,62.500000,0.0,0.0,0.0,3.602400,3.602400,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
75%,679816.000000,3.000000,0.0,0.0,119.910710,0.0,0.0,0.0,7.149100,7.149100,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,12.000000
max,919405.000000,720.000000,0.0,0.0,32825.895000,0.0,0.0,0.0,1969.553600,1969.553589,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,18.000000

In [ ]:
def sumQuantity(quan1, quan2):
    quan1 = quan1.split()
    quan2 = quan2.split()
    if len(quan1) > 1 and len(quan2) > 1:
        return int(quan1[0])
    else:
        return str(int())

In [ ]:
display(pd.DataFrame({'Quantity': salesdetail_monthly['Quantity']}))

## Customer Data Preparation

In [16]:
CustomerProductPurchase = {}
for group_name, group_data in salesdetail_montly.groupby(['RegionName', 'StoreName']):
    for group_customer, customer_data in group_data.groupby(['CustomerCode']):
        customers_data = []
        for billNumber, customer_purchases in customer_data.groupby('BillNumber'):
            for product_code, customer_purchase in customer_purchases.groupby(['ProductCode']):
              # same product is packed more than one time
                if len(customer_purchase) > 1:
                    for index in range(len(customer_purchase)-1,1):
                        customer_purchase[0]['Quantity'] = str(int(customer_purchase[0]['Quantity']) + int(customer_purchase[index]['Quantity']))

                customers_data.append(customer_purchase.iloc[0])
        CustomerProductPurchase[group_customer[0]] = pd.concat(customers_data, axis=1, ignore_index=True).transpose()

"     \n            # same product is packed more than one time\n            if len(product_lister) > 1:\n                for index in range(len(product_lister)-1,1):\n                    product_lister[0]['Quantity'] = str(int(product[0]['Quantity']) + int(product[index]['Quantity']))\n            customers_data.append(product_lister[0])\n        CustomerProductPurchase[group_customer[0]] = pd.concat(customers_data, ignore_index=True)\n        "

In [18]:
num = 10
for customer_code in CustomerProductPurchase:
    display(CustomerProductPurchase[customer_code])
    if num == 0:
        break
    num -= 1

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS 40MG TAB 1X10
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ECOSPRIN 75MG TAB 1X14
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,EMER GM 2MG TAB 1X15
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,GEOFIT MEN TAB 1X10
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,UDP AT 5/50MG TAB 1X14
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DGSON 5MG TAB 1X10
6,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,PANTOMERIT D TAB 1X10
7,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,08/04/2024,11:11AM,SC262,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,EMERTAM 0.4MG TAB 1X10
8,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS ASP 10/75MG TAB 1X15
9,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,BETALOC 100MG TAB 1X10
10,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,8:14PM,SC382,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,METHYLCOMER SL 1500MCG TAB 1X10
11,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS ASP 10/75MG TAB 1X15
12,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,BETALOC 100MG TAB 1X10
13,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,MOXONOL 0.3MG TAB 1X10
14,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMISTATUS 40MG TAB 1X10
15,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMISTATUS H 40/12.5MG TAB 1X10
16,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,20/04/2024,10:36AM,SC634,462.0,A K SINGH SHAILSINGH,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,SYNDOPA 110MG TAB 1X15

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,SURGICALS,NaN,0,BD 2ML SYRINGE(WITH NEEDLE)
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,CHOLESTATUS 60K CHEWABLE TAB 1X4
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,0,DOXYNEC CAP 1X10
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,FDSON SPOR TAB 1X10
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,FOLIMAX PLUS D3 TAB 1X10
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,GABANYL M TAB 1X10
6,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,INJECTION,NaN,0,MICABAL 500MCG INJ 1ML
7,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,0,PANTOMERIT DSR CAP 1X10
8,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,THIOROK TAB 1X10
9,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,9:33PM,SC772,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,AMOXY CLAVITUS 625MG TAB 1X10
10,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,10:52PM,SC779,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,SOLUTION,NaN,0,CASISHIELD D SOLUTION 1LIT
11,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,10:52PM,SC779,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,PASTE,NaN,0,VANTEJ TOOTHPASTE 100GM
12,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,10:52PM,SC779,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,SPRAY,NaN,0,DYNAPAR QPS PLUS 15ML
13,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,10:52PM,SC779,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,POWDER,NaN,0,CLOCAMIN DUSTING POWDER 125GM
14,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,10:52PM,SC779,2759.0,AAYUSH JI KOTHARI,NaN,...,NaN,NaN,1,NaN,0,0,SPRAY,NaN,0,ORTHOTUS SPRAY 75GM

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,09/04/2024,11:47AM,SC292,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ECOSPRIN 75MG TAB 1X14
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,09/04/2024,11:47AM,SC292,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMIRIDE AMH TAB 1X10
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,09/04/2024,11:47AM,SC292,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMIRIDE MT 50MG TAB 1X10
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,21/04/2024,5:54PM,SC681,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ECOSPRIN 75MG TAB 1X14
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,21/04/2024,5:54PM,SC681,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,GLIMISON MP 1MG TAB 1X15
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,21/04/2024,5:54PM,SC681,5768.0,ADITYA BHATIA VIRAT,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,UDP AT 5/50MG TAB 1X14

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,8:46PM,SC448,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,CREAM,NaN,0,BETNOVATE C CREAM 30GM
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,8:46PM,SC448,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DUTASMER T TAB 1X10
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,8:46PM,SC448,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,BALM,NaN,0,IODEX RUB BOTTLE 40GM
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,8:46PM,SC448,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,UDP AT 5/50MG TAB 1X14
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,8:46PM,SC448,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,SYRUP,NaN,0,COFBIT SYP 100ML
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,9:18PM,SC625,5871.0,ADITYA SHARMA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ETOLYTE P TAB 1X10

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,11:19PM,SC783,5978.0,ADVOCATE R P JANWA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TIDE PLUS 10MG TAB 1X10
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,11:19PM,SC783,5978.0,ADVOCATE R P JANWA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,VALTAN 40MG TAB 1X10
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,11:19PM,SC783,5978.0,ADVOCATE R P JANWA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,EMETOP XL 50MG TAB 1X10
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,24/04/2024,11:19PM,SC783,5978.0,ADVOCATE R P JANWA,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ATORVASTATUS ASP GOLD 10MG TAB 1X15

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,BEPLEX FORTE TAB 1X20
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,LACTOLUS DS TAB 1X15
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,METHYLCOMER SL 1500MCG TAB 1X10
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,RABEMERIT DSR TAB 1X10
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TONOFOLIC TAB 1X10
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,NEXDOL P TAB 1X10
6,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,LEVOMERIT 5MG TAB 1X10 ( LEVOMER )
7,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,11/04/2024,6:51PM,SC373,7278.0,AJAY BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ORITAXIM O 200MG TAB 1X10

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,03/04/2024,7:48PM,SC113,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,COFSILS COUGH ASSRTD JAR
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,03/04/2024,7:48PM,SC113,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DIOMINIC DCA TAB 1X10
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,03/04/2024,7:48PM,SC113,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,SAFEXIM 200MG TAB 1X10
3,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,CREAM,NaN,0,BETNOVATE S CREAM 20GM
4,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DIOMINIC DCA TAB 1X10
5,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,DOLO 650MG TAB 1X15
6,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,LOPOX TAB 1X10
7,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,0,PANTOMERIT DSR CAP 1X10
8,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,SAFEXIM 200MG TAB 1X10
9,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,TELMISTATUS H 40/12.5MG TAB 1X10
10,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,19/04/2024,7:36PM,SC618,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,AZIMERIT 250MG TAB 1X6
11,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,22/04/2024,8:05PM,SC711,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,COFSILS COUGH ASSRTD JAR
12,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,22/04/2024,8:05PM,SC711,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,SACHET,NaN,0,ENO SACHET (LEMON) 5GM
13,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,22/04/2024,8:05PM,SC711,12366.0,ALPESH C SUTHAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ISORDIL 10MG TAB 1X10

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,13/04/2024,10:06PM,SC453,18022.0,AMRISH BHAI,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,ELCEPHASE 500MG TAB 1X10

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,05/04/2024,6:27PM,SC176,19447.0,ANANDIBEN,NaN,...,NaN,NaN,1,NaN,0,0,DROPS,NaN,0,I KUL PLUS EYE DROPS 10ML
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,12/04/2024,5:35PM,SC404,19447.0,ANANDIBEN,NaN,...,NaN,NaN,1,NaN,0,0,DROPS,NaN,0,I KUL PLUS EYE DROPS 10ML

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,07/04/2024,10:22AM,SC237,19892.0,ANGRA ANIL,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,CAFIPAR 30/500MG TAB 1X10
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,07/04/2024,10:22AM,SC237,19892.0,ANGRA ANIL,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,CALCIGEN 500MG TAB 1X15
2,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,07/04/2024,10:22AM,SC237,19892.0,ANGRA ANIL,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,SITAMER 100MG TAB 1X10

,RegionName,StoreName,AlternateStoreCode,StoreGSTNumber,BillDate,BillTime,BillNumber,CustomerCode,CustomerName,CustomerGSTNumber,...,BillRemarks,AlternateCode2,PurchaseUnit,BulkDescription,ItemCost,CostOfSale,PackageInformation,ProviderTaxCode,TaxPercentage,ProductFullName
0,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,09/04/2024,10:56PM,SC322,24469.0,ANKIT BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,TABLET,NaN,0,COFSILS COUGH ASSRTD JAR
1,GUJARAT,A-ONE MEDICOS,662,24ADUPD5945L1Z1,09/04/2024,10:56PM,SC322,24469.0,ANKIT BHAI THAKKAR,NaN,...,NaN,NaN,1,NaN,0,0,CAPSULE,NaN,0,ESOTUS DSR CAP 1X10

In [ ]:
num = 210
for customer_code in CustomerProductPurchase:
    for product_code in CustomerProductPurchase[customer_code]:
        for product_bill in CustomerProductPurchase[customer_code][product_code]:
            display(pd.DataFrame({
                'RegionName': product_bill['RegionName'],
                'StoreName': product_bill['StoreName'],
                'CustomerCode': product_bill['CustomerCode'],
                'ProductFullName': product_bill['ProductFullName'],
                'ProductCode': product_bill['ProductCode'], 
                'Quantity': product_bill['Quantity'],
                'BillNumber': product_bill['BillNumber'],
                'BillDate': product_bill['BillDate'],
                'BillTime': product_bill['BillTime']
            }))
    if num == 0:
        break
    num -= 1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# Sample data (replace this with your actual dataset)
data = {
    'time': pd.date_range('2022-01-01', periods=100),
    'quantity': np.random.randint(50, 200, 100),
    'sales': np.random.randint(1000, 5000, 100)
}
df = pd.DataFrame(data)

# Convert time to numeric values for regression (optional)
df['time_numeric'] = pd.to_numeric(df['time'])

# Perform linear regression
X = df[['time_numeric', 'quantity']]
y = df['sales']
model = LinearRegression().fit(X, y)

# Generate predicted sales values
df['predicted_sales'] = model.predict(X)

# Plotting
plt.figure(figsize=(10, 6))
plt.scatter(df['time'], df['sales'], label='Actual Sales')
plt.plot(df['time'], df['predicted_sales'], color='red', label='Predicted Sales')
plt.xlabel('Time')
plt.ylabel('Sales')
plt.title('Simple Linear Regression: Time vs. Sales')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
for customer_product_data in CustomerProductPurchase:

In [ ]:
# how it all works lets understand
# different POS has different data so we gonna select that customer
# lets consider all 
# it's old thing dbscan, apriori, knn, kmeans, svm, decision tree
# feature analysis


# what her question was what you wanna understand, if she was data analysis, 
# firstly she would have known what there is to know
# 
# it also depends on Manufacturer type like forexample we are saleing one manufacturer,
# by taking frequency you are taking whole as a thing
# 
# one customer -> hasmany relation with different data type
# we consider as a week. on which day he will come


# we gonna make find pattern by making sliding windows
# we should be taking is frequency now 
# on top, price of product, 

# customer and it's relations
# 
# don't explain him
# why did i 


salesdetail_montly.describe()